.indexMain {
  overflow-y: scroll; }
  .indexMain .divBoton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    .indexMain .divBoton .shopNow {
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      background-color: black;
      padding: 15px;
      border-radius: 1px; }
      .indexMain .divBoton .shopNow:hover {
        opacity: 0.8; }
  .indexMain .globalDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px; }
    .indexMain .globalDiv .globalCarousel {
      flex-direction: column;
      padding: 20px;
      width: 700px;
      background-color: black;
      display: flex;
      justify-content: center;
      text-align: center;
      opacity: 0.8;
      border-radius: 10px; }
      .indexMain .globalDiv .globalCarousel:hover {
        opacity: 1; }
      .indexMain .globalDiv .globalCarousel .carouselSpan {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: white;
        padding-bottom: 15px; }
      .indexMain .globalDiv .globalCarousel .carouselContainer {
        display: flex;
        justify-content: center; }
        .indexMain .globalDiv .globalCarousel .carouselContainer .carousel {
          width: 200px; }
    .indexMain .globalDiv .wpp {
      position: fixed;
      padding: 20px;
      bottom: 65px;
      right: 0px;
      width: 100px; }

.contactMain {
  overflow-y: scroll; }
  .contactMain .formulario form {
    padding-bottom: 30px; }
    .contactMain .formulario form .contactanos {
      color: black;
      font-family: 'Montserrat', sans-serif;
      font-size: x-large;
      font-weight: bold;
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 20px; }
    .contactMain .formulario form .inputContainer {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding-left: 20px;
      font-family: 'Montserrat', sans-serif; }
      .contactMain .formulario form .inputContainer .label {
        display: flex;
        justify-self: flex-start;
        padding-left: 20px;
        padding-right: 20px; }
      .contactMain .formulario form .inputContainer .input {
        margin-bottom: 20px; }
    .contactMain .formulario form .inputContainer .inputEmail {
      margin-left: 21.02px; }
    .contactMain .formulario form .inputContainer .inputSend {
      margin-left: 326.23px;
      background-color: black;
      color: white;
      font-family: 'Montserrat', sans-serif;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 20px; }
  .contactMain .wpp {
    position: fixed;
    padding: 20px;
    bottom: 65px;
    right: 0px;
    width: 100px; }

.mainShopnow {
  overflow-y: scroll; }
  .mainShopnow .h2Productos {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: x-large; }
  .mainShopnow .globalContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    .mainShopnow .globalContainer .imagesContainer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 60%;
      height: 50%;
      align-items: center; }
      .mainShopnow .globalContainer .imagesContainer .individualContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 20px;
        text-align: center; }
        .mainShopnow .globalContainer .imagesContainer .individualContainer .imgProductos {
          object-fit: fill;
          height: 200px;
          width: 200px;
          padding-bottom: 5px; }
          .mainShopnow .globalContainer .imagesContainer .individualContainer .imgProductos:hover {
            transform: scale(1.03); }
        .mainShopnow .globalContainer .imagesContainer .individualContainer .spanProductos {
          font-family: 'Montserrat', sans-serif; }
  .mainShopnow .wpp {
    position: fixed;
    padding: 20px;
    bottom: 65px;
    right: 0px;
    width: 100px; }

.mainPreguntasFrecuentes .globalPF {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .mainPreguntasFrecuentes .globalPF .titleContainer {
    text-align: center;
    padding: 20px 20px 0px 20px; }
    .mainPreguntasFrecuentes .globalPF .titleContainer .preguntasFrecuentes {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: x-large; }
  .mainPreguntasFrecuentes .globalPF .textContainer {
    display: flex;
    padding: 10px 20px 20px 20px;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap; }
    .mainPreguntasFrecuentes .globalPF .textContainer .pairContainer .pPreguntasFrecuentes {
      margin: 20px 10px 0 10px;
      font-size: medium;
      text-align: justify;
      color: #626161; }

.mainPreguntasFrecuentes .wpp {
  position: fixed;
  padding: 20px;
  bottom: 65px;
  right: 0px;
  width: 100px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  background-position: 60% 60%; }
  body header {
    background-color: black;
    height: 76px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    body header .divimg {
      height: 76px;
      display: flex;
      align-items: center;
      padding: 10px; }
    body header .navbar {
      display: none; }
    body header .navMenuList {
      width: 100%; }
      body header .navMenuList .menuList {
        display: flex;
        align-items: center;
        height: 76px;
        margin-left: 20px;
        justify-content: space-around; }
        body header .navMenuList .menuList .divMenuList {
          width: 100%;
          height: 76px;
          display: flex;
          align-items: center;
          justify-content: space-around; }
          body header .navMenuList .menuList .divMenuList .li1 {
            text-decoration: none;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: white; }
            body header .navMenuList .menuList .divMenuList .li1 .menuItem {
              text-decoration: none;
              color: white; }
              body header .navMenuList .menuList .divMenuList .li1 .menuItem:hover {
                background-color: white;
                opacity: 0.8;
                color: black;
                padding: 8px;
                border-radius: 1px; }
        body header .navMenuList .menuList .divRightMenu {
          display: flex;
          flex-direction: row;
          height: 76px;
          justify-content: flex-end; }
          body header .navMenuList .menuList .divRightMenu .li1 {
            text-decoration: none;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: white; }
          body header .navMenuList .menuList .divRightMenu .li2 {
            display: flex;
            align-items: center; }
  body main {
    height: calc(100vh - 60px - 52px); }
  body footer {
    height: 65px;
    width: 100%;
    background-color: black;
    bottom: 0;
    position: fixed; }
    body footer .footerContainer {
      display: flex;
      flex-direction: column;
      height: 100%; }
      body footer .footerContainer .divFooter {
        display: flex;
        flex-direction: row;
        height: 100%;
        color: white;
        font-size: small;
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        align-items: center; }

@media (max-width: 320px) {
  body {
    background-position: 60% 70%; }
    body header {
      height: 60px; }
      body header .divimg {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 60px;
        position: absolute; }
        body header .divimg .img {
          width: 130px; }
      body header .navbar {
        display: flex; }
        body header .navbar .container-fluid .navbar-collapse {
          background-color: lightgrey;
          padding: 5px;
          margin-top: 12.5px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; }
          body header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold; }
            body header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
              color: black;
              font-size: small; }
          body header .navbar .container-fluid .navbar-collapse .navbar-nav .sub-menu {
            font-family: 'Montserrat', sans-serif;
            color: black; }
            body header .navbar .container-fluid .navbar-collapse .navbar-nav .sub-menu .categorias {
              font-size: small;
              text-decoration: none;
              color: black;
              font-weight: bold; }
            body header .navbar .container-fluid .navbar-collapse .navbar-nav .sub-menu .ulCategorias .submenuList {
              list-style: disc;
              font-size: small; }
              body header .navbar .container-fluid .navbar-collapse .navbar-nav .sub-menu .ulCategorias .submenuList .submenuItems {
                text-decoration: none;
                color: black; }
      body header .navMenuList {
        height: 60px; }
        body header .navMenuList .menuList {
          display: flex;
          justify-content: flex-end; }
          body header .navMenuList .menuList .divMenuList {
            display: none; }
          body header .navMenuList .menuList .divRightMenu {
            margin-right: 10px; }
            body header .navMenuList .menuList .divRightMenu .li1 .menuItemContacto {
              display: none; }
            body header .navMenuList .menuList .divRightMenu .li1 {
              height: 60px; }
              body header .navMenuList .menuList .divRightMenu .li1 .carrito {
                width: 45px; }
    body main {
      height: calc(100vh - 60px - 52px); }
      body main .wpp {
        display: none; }
    body footer {
      height: 52px; }
      body footer .footerContainer .divFooter {
        height: 19px; }
        body footer .footerContainer .divFooter .footerImage {
          width: 17px; }
        body footer .footerContainer .divFooter .footerSpan {
          font-size: x-small; } }

@media (max-width: 320px) {
  .indexMain .divboton {
    width: 100px; }
    .indexMain .divboton .shopNow {
      font-size: small; }
  .indexMain .globalDiv .globalCarousel {
    width: 200px;
    margin-top: 150px; }
    .indexMain .globalDiv .globalCarousel .carouselContainer .carousel .carouselExample .carousel-inner .carousel-item .productImage {
      width: 150px; }
  .mainPreguntasFrecuentes {
    overflow-y: scroll; }
    .mainPreguntasFrecuentes .globalPF .textContainer {
      display: flex;
      height: 100%;
      padding-bottom: 20px; }
      .mainPreguntasFrecuentes .globalPF .textContainer .pairContainer .pPreguntasFrecuentes {
        padding-bottom: 20px; }
      .mainPreguntasFrecuentes .globalPF .textContainer .pairContainer .pPreguntasFrecuentes1 {
        padding-top: 0px; }
      .mainPreguntasFrecuentes .globalPF .textContainer .pairContainer .pPreguntasFrecuentes3 {
        padding-top: 0px; }
  .contactMain {
    overflow-y: scroll; }
    .contactMain .formulario form .contactanos {
      text-align: center;
      padding-left: 0px;
      font-size: large; }
    .contactMain .formulario form .inputContainer {
      display: flex;
      flex-direction: row;
      padding-left: 0px; }
      .contactMain .formulario form .inputContainer .label {
        font-size: small; }
      .contactMain .formulario form .inputContainer .inputName {
        height: 20px; }
    .contactMain .formulario form .inputContainer {
      display: flex;
      flex-direction: row;
      padding-left: 0px; }
      .contactMain .formulario form .inputContainer .label {
        font-size: small; }
      .contactMain .formulario form .inputContainer .inputEmail {
        margin-left: 17.08px;
        height: 20px; }
    .contactMain .formulario form .inputContainer {
      display: flex;
      flex-direction: row;
      padding-left: 0px; }
      .contactMain .formulario form .inputContainer .textArea {
        height: 150px;
        max-width: 500px;
        min-width: 200px; }
    .contactMain .formulario form .inputContainer {
      display: flex;
      flex-direction: row;
      padding-left: 0px; }
      .contactMain .formulario form .inputContainer .inputSend {
        margin-left: 238.45px;
        font-size: small;
        margin-bottom: 20px; }
  .mainShopnow .h2Productos {
    font-size: large; }
  .mainShopnow .globalContainer .imagesContainer .individualContainer .imgProductos {
    width: 150px;
    height: 150px; }
  .mainShopnow .globalContainer .imagesContainer .individualContainer .spanProductos {
    font-size: small; } }
